<div [ngBusy]="{busy: busy, message: 'loading...'}"></div>
<h4 class="head">Countries have same language </h4>
<div class="row">
	<div *ngFor="let country of countries">
		<div class="col-3">
			<div class="card" style="width: 18rem;" [routerLink]="['/country' , country.name]">
				<img class="card-img-top" [src]="country.flag" alt="Card image cap">
				<div class="card-body">
					<p class="card-text name"><span>Name : </span>{{country.name}}</p>
					<p class="card-text"><span>Capital : </span>{{country.capital}}</p>
					<p class="card-text"><span>Timezone : </span>{{country.timezones}}</p>
      		</div>
			<br>
		</div>
	</div>
